<div class="container">
    <nav class="navbar">
        <a href="/" class="fs-2">with love.</a>
        <ul class="nav-links" id="loginRef">
            {% if user=="" %}
                <li class="loginList"><a href="/login" class="fs-5">Login</a></li>
            
            {% else %}
                <li class="dropdown" id="googleUsername">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/">
                            Home
                        </a></li>
                        <li><a class="dropdown-item" href="/orderhistory">
                            Order History
                        </a></li>
                        <li><a class="dropdown-item" href="/editprofile">
                            Edit Profile
                        </a></li>
                        <li><a class="dropdown-item" href="/logout">
                            Log Out
                        </a></li>
                    </ul>
                </li>
            {% endif %}

            <!-- <li><a href="/cart" class="fs-5" >Cart</a></li> -->
            <li>
                <div class="cart">
                    <button type="button" id="cart-btn">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="cart-count-info"></span>
                    </button>
                    <div class="cart-container">
                        <div class="cart-list"></div>
                        <div class="cart-total">
                            <h3>Total: $</h3>
                            <span id="cart-total-value"></span>
                        </div>
                        <div class="d-grid gap-2 col-4 mx-auto my-3">
                            <a href="#" class="btn btn-primary" type="link" id="pay-btn">Pay Now</a>
                            <!-- <button class="btn btn-primary" type="button" display="none" id="pay-btn">Pay Now</button> -->
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>

